<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Timestamp</title>
    <meta name="description" content="A cool thing made with Glitch">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>
      Timestamp Microservice
    </h1>
    
    <p>
      Pass a string as a parameter.<br>
      If this string is a unix time or a date, lo and behold, an object shalt be returned to you!<br>
      This object will contain the corresponding unix timestamp AND natural date!!
    </p>
    
    <p>
      Eg.<br><br>
      <span><a href="https://fcc-timestamp-pjt.glitch.me/December%2015,%202015'>https://fcc-timestamp-pjt.glitch.me/December%2015,%202015">
        https://fcc-timestamp-pjt.glitch.me/December%2015,%202015</a></span><br>
      or<br>
      <span><a href="https://fcc-timestamp-pjt.glitch.me/1450137600000">https://fcc-timestamp-pjt.glitch.me/1450137600000</a></span><br><br>
      ...will both return the following:<br><br>
      {"unix":1450137600000,"natural":"December 15, 2015"}
    </p>

    <script src="/client.js"></script>
  </body>
</html>
